@model IEnumerable<PoELadder.Dtos.Leagues.EntriesLeaguesDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<br>
<br>
<br>


@using (Html.BeginForm("LadderView", "Home"))
{
    <div>
        <h3 style="margin: auto; width: 100%;  text-align: center;">Select a league:</h3>
        <div class="form-group" style="margin: auto; width: 25%;  text-align: center;">
            @Html.DropDownList("Leagues", (IEnumerable<SelectListItem>)ViewBag.Leagues, new { @class = "form-control" })
        </div>
        <br>
        <button style="width:15%; margin:0 auto; display:block;" type="submit" class="btn" id="checkout">Go</button>
    </div>
}
